.Row{
    width:100%;
    background-color: red;
}
.Row label{
    width: 50%;
    background-color:grey;
    position: absolute;
    left: 0px;
}
.Row input{
    width: 50%;
    background-color:green;
    position: absolute;
    right: 0px;
}