Body{
	height:100%;
	weight:100%;
}
.Node{
	height:60px;
	width:100px;
	background-color:grey;
	
}
.Data, .Next{
height:100%;
width:50%;
}
#head{
    height:100px;
    width: 100px;
    border-radius: 50%;
    background-color: lightgray;
}
.arrow-back{
    width: 100px;
    height:
}
.arrow-head{

}